body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
}

.text-wrapper {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.text-wrapper span {
  position: relative;
  display: block;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
  transform-origin: 0% 50%;
}

.text--front {
  color: red;
  left: calc(50% - 2px) !important;
}

.text--front span:before {
  content: attr(letter);
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  color: #ffffff;
  transform-origin: 0% 50%;
}

.text--front span:after {
  content: attr(letter);
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  color: #3c3c3c;
  transform-origin: 0% 50%;
  /* transform: skewY(30deg) scale(1.2, 1) rotateY(-20deg); */
}

.text--front span.fold:before,
.text--front span:hover:before {
  animation: turnover 0.5s 2 ease alternate;
}

.text--front span.fold:after,
.text--front span:hover:after {
  animation: showShadow 0.5s 2 ease alternate;
}

@keyframes turnover {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(70deg);
  }
}

@keyframes showShadow {
  0% {
    transform: skewY(0deg) scale(1);
  }

  100% {
    /* transform: skewY(20deg) scale(1.1, 1) rotateY(0deg); */
    transform: skewY(30deg) scale(1.2, 1) rotateY(-20deg);
  }
}
