body {
}

.mode {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

#app {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

#bg{
	position: absolute;
	z-index: 0;
	width:100%;
	height: 100%;
	background-image: repeating-linear-gradient(0deg, rgba(97,97,97,0.1) 0px, rgba(97,97,97,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(43,43,43),rgb(43,43,43));
}

canvas{
	cursor: url(../cursor.svg), pointer;
	box-shadow: 1px 1px 10px #333;
}
