body {
}

.bg-image {
  width: 1200px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../nianbaoyuze.jpg") center center no-repeat;
  background-size: 100% 100%;
}

svg {
  width: 1200px;
  height: 340px;
  position: absolute;
  left: 0;
  bottom: 0;
}
