.b-1 {
	left: 18%;
	top: 66%;
}

.b-2 {
	left: 19%;
	top: 66%;
}

.b-3 {
	left: 20%;
	top: 66.5%;
}

.b-4 {
	left: 21%;
	top: 66%;
}

.b-5 {
	left: 22%;
	top: 65.5%;
}

.b-6 {
	left: 23%;
	top: 65.5%;
}

.b-7 {
	left: 24%;
	top: 65%;
}

.b-8 {
	left: 25%;
	top: 64.5%;
}

.b-9 {
	left: 26%;
	top: 64%;
}

.b-10 {
	left: 27%;
	top: 63.5%;
}

.b-11 {
	left: 28%;
	top: 63%;
}

.b-11-1 {
	left: 28.5%;
	top: 62.5%;
}

.b-11-2 {
	left: 29%;
	top: 62%;
}

.b-12 {
	left: 29%;
	top: 63%;
}

.b-13 {
	left: 30%;
	top: 63.5%;
}

.b-14 {
	left: 31%;
	top: 63%;
}

.b-15 {
	left: 32%;
	top: 62.5%;
}

.b-16 {
	left: 33%;
	top: 62%;
}

.b-17 {
	left: 34%;
	top: 61.5%;
}

.b-18 {
	left: 35%;
	top: 61%;
}

.b-19 {
	left: 36%;
	top: 60.5%;
}

.b-20 {
	left: 37%;
	top: 60%;
}

.b-21 {
	left: 38%;
	top: 59.5%;
}

.b-22 {
	left: 39%;
	top: 59%;
}

.b-23 {
	left: 40%;
	top: 58.5%;
}

.b-24 {
	left: 41%;
	top: 58%;
}

.b-25 {
	left: 42%;
	top: 57.5%;
}

.b-26 {
	left: 43%;
	top: 57%;
}

.b-27 {
	left: 28.5%;
	top: 62.5%;
}

.b-28 {
	left: 29%;
	top: 62%;
}

.b-29 {
	left: 46%;
	top: 64%;
}

.b-30 {
	left: 47%;
	top: 64%;
}

.b-31 {
	left: 48%;
	top: 64%;
}

.b-32 {
	left: 49%;
	top: 64%;
}

.b-33 {
	left: 50%;
	top: 64%;
}

.b-34 {
	left: 51%;
	top: 64%;
}

.b-35 {
	left: 52%;
	top: 64%;
}

.b-36 {
	left: 53%;
	top: 64%;
}

.b-37 {
	left: 54%;
	top: 64%;
}

.b-38 {
	left: 55%;
	top: 64%;
}

.b-39 {
	left: 56%;
	top: 64%;
}

.b-40 {
	left: 57%;
	top: 64%;
}

.b-41 {
	left: 58%;
	top: 64%;
}

.b-42 {
	left: 59%;
	top: 64%;
}

.b-43 {
	left: 60%;
	top: 64%;
}

.b-44 {
	left: 61%;
	top: 64%;
}

.b-45 {
	left: 62%;
	top: 64%;
}

.b-46 {
	left: 63%;
	top: 64%;
}

.b-47 {
	left: 64%;
	top: 64%;
}

.b-48 {
	left: 65%;
	top: 64%;
}

.b-49 {
	left: 66%;
	top: 64%;
}

.b-50 {
	left: 67%;
	top: 64%;
}

.b-51 {
	left: 68%;
	top: 64%;
}

.b-52 {
	left: 69%;
	top: 64%;
}

.b-53 {
	left: 70%;
	top: 64%;
}

.b-54 {
	left: 71%;
	top: 64%;
}

.b-55 {
	left: 72%;
	top: 64%;
}

.b-56 {
	left: 73%;
	top: 64%;
}

.b-57 {
	left: 74%;
	top: 64%;
}

.b-58 {
	left: 75%;
	top: 64%;
}

.b-59 {
	left: 76%;
	top: 64%;
}

.b-60 {
	left: 77%;
	top: 64%;
}

.b-61 {
	left: 78%;
	top: 64%;
}

.b-62 {
	left: 79%;
	top: 64%;
}

.b-63 {
	left: 80%;
	top: 64%;
}

.b-64 {
	left: 81%;
	top: 64%;
}

.b-65 {
	left: 82%;
	top: 64%;
}

.b-66 {
	left: 83%;
	top: 64%;
}

.b-67 {
	left: 84%;
	top: 64%;
}

.b-68 {
	left: 85%;
	top: 64%;
}

.b-69 {
	left: 86%;
	top: 64%;
}

.b-70 {
	left: 87%;
	top: 64%;
}

.b-71 {
	left: 88%;
	top: 64%;
}

.b-72 {
	left: 89%;
	top: 64%;
}

.b-73 {
	left: 90%;
	top: 64%;
}

.b-74 {
	left: 91%;
	top: 64%;
}

.b-75 {
	left: 92%;
	top: 64%;
}

.b-76 {
	left: 93%;
	top: 64%;
}

.b-77 {
	left: 94%;
	top: 64%;
}

.b-78 {
	left: 95%;
	top: 64%;
}

.b-79 {
	left: 96%;
	top: 64%;
}

.b-80 {
	left: 97%;
	top: 64%;
}

.b-81 {
	left: 98%;
	top: 64%;
}

.b-82 {
	left: 99%;
	top: 64%;
}

.b-83 {
	left: 100%;
	top: 64%;
}

.b-84 {
	left: 101%;
	top: 64%;
}

.b-85 {
	left: 102%;
	top: 64%;
}

.b-86 {
	left: 103%;
	top: 64%;
}

.b-87 {
	left: 104%;
	top: 64%;
}

.b-88 {
	left: 105%;
	top: 64%;
}

.b-89 {
	left: 106%;
	top: 64%;
}

.b-90 {
	left: 107%;
	top: 64%;
}

.b-91 {
	left: 108%;
	top: 64%;
}

.b-92 {
	left: 109%;
	top: 64%;
}

.b-93 {
	left: 110%;
	top: 64%;
}

.b-94 {
	left: 111%;
	top: 64%;
}

.b-95 {
	left: 112%;
	top: 64%;
}

.b-96 {
	left: 113%;
	top: 64%;
}

.b-97 {
	left: 114%;
	top: 64%;
}

.b-98 {
	left: 115%;
	top: 64%;
}

.b-99 {
	left: 116%;
	top: 64%;
}

.b-100 {
	left: 117%;
	top: 64%;
}

.b-101 {
	left: 118%;
	top: 64%;
}

.b-102 {
	left: 119%;
	top: 64%;
}

.b-103 {
	left: 120%;
	top: 64%;
}

.b-104 {
	left: 121%;
	top: 64%;
}

.b-105 {
	left: 122%;
	top: 64%;
}

.b-106 {
	left: 123%;
	top: 64%;
}

.b-107 {
	left: 124%;
	top: 64%;
}

.b-108 {
	left: 125%;
	top: 64%;
}

.b-109 {
	left: 126%;
	top: 64%;
}

.b-110 {
	left: 127%;
	top: 64%;
}

.b-111 {
	left: 128%;
	top: 64%;
}

.b-112 {
	left: 129%;
	top: 64%;
}

.b-113 {
	left: 130%;
	top: 64%;
}

.b-114 {
	left: 131%;
	top: 64%;
}

.b-115 {
	left: 132%;
	top: 64%;
}

.b-116 {
	left: 133%;
	top: 64%;
}

.b-117 {
	left: 134%;
	top: 64%;
}

.b-118 {
	left: 135%;
	top: 64%;
}

.b-119 {
	left: 136%;
	top: 64%;
}

.b-120 {
	left: 137%;
	top: 64%;
}

.b-121 {
	left: 138%;
	top: 64%;
}

.b-122 {
	left: 139%;
	top: 64%;
}

.b-123 {
	left: 140%;
	top: 64%;
}

.b-124 {
	left: 141%;
	top: 64%;
}

.b-125 {
	left: 142%;
	top: 64%;
}

.b-126 {
	left: 143%;
	top: 64%;
}

.b-127 {
	left: 144%;
	top: 64%;
}

.b-128 {
	left: 145%;
	top: 64%;
}

.b-129 {
	left: 146%;
	top: 64%;
}

.b-130 {
	left: 147%;
	top: 64%;
}

.b-131 {
	left: 148%;
	top: 64%;
}

.b-132 {
	left: 149%;
	top: 64%;
}

.b-133 {
	left: 150%;
	top: 64%;
}

.b-134 {
	left: 151%;
	top: 64%;
}

.b-135 {
	left: 152%;
	top: 64%;
}

.b-136 {
	left: 153%;
	top: 64%;
}

.b-137 {
	left: 154%;
	top: 64%;
}

.b-138 {
	left: 155%;
	top: 64%;
}

.b-139 {
	left: 156%;
	top: 64%;
}

.b-140 {
	left: 157%;
	top: 64%;
}

.b-141 {
	left: 158%;
	top: 64%;
}

.b-142 {
	left: 159%;
	top: 64%;
}

.b-143 {
	left: 160%;
	top: 64%;
}

.b-144 {
	left: 161%;
	top: 64%;
}

.b-145 {
	left: 162%;
	top: 64%;
}

.b-146 {
	left: 163%;
	top: 64%;
}

.b-147 {
	left: 164%;
	top: 64%;
}

.b-148 {
	left: 165%;
	top: 64%;
}

.b-149 {
	left: 166%;
	top: 64%;
}

.b-150 {
	left: 167%;
	top: 64%;
}

.b-151 {
	left: 168%;
	top: 64%;
}

.b-152 {
	left: 169%;
	top: 64%;
}

.b-153 {
	left: 170%;
	top: 64%;
}

.b-154 {
	left: 171%;
	top: 64%;
}

.b-155 {
	left: 172%;
	top: 64%;
}

.b-156 {
	left: 173%;
	top: 64%;
}

.b-157 {
	left: 174%;
	top: 64%;
}

.b-158 {
	left: 175%;
	top: 64%;
}

.b-159 {
	left: 176%;
	top: 64%;
}

.b-160 {
	left: 177%;
	top: 64%;
}

.b-161 {
	left: 178%;
	top: 64%;
}

.b-162 {
	left: 179%;
	top: 64%;
}

.b-163 {
	left: 180%;
	top: 64%;
}

.b-164 {
	left: 181%;
	top: 64%;
}

.b-165 {
	left: 182%;
	top: 64%;
}

.b-166 {
	left: 183%;
	top: 64%;
}

.b-167 {
	left: 184%;
	top: 64%;
}

.b-168 {
	left: 185%;
	top: 64%;
}

.b-169 {
	left: 186%;
	top: 64%;
}

.b-170 {
	left: 187%;
	top: 64%;
}

.b-171 {
	left: 188%;
	top: 64%;
}

.b-172 {
	left: 189%;
	top: 64%;
}

.b-173 {
	left: 190%;
	top: 64%;
}

.b-174 {
	left: 191%;
	top: 64%;
}

.b-175 {
	left: 192%;
	top: 64%;
}

.b-176 {
	left: 193%;
	top: 64%;
}

.b-177 {
	left: 194%;
	top: 64%;
}

.b-178 {
	left: 195%;
	top: 64%;
}

.b-179 {
	left: 196%;
	top: 64%;
}

.b-180 {
	left: 197%;
	top: 64%;
}

.b-181 {
	left: 198%;
	top: 64%;
}

.b-182 {
	left: 199%;
	top: 64%;
}

.b-183 {
	left: 200%;
	top: 64%;
}

.b-184 {
	left: 201%;
	top: 64%;
}

.b-185 {
	left: 202%;
	top: 64%;
}

.b-186 {
	left: 203%;
	top: 64%;
}

.b-187 {
	left: 204%;
	top: 64%;
}

.b-188 {
	left: 205%;
	top: 64%;
}

.b-189 {
	left: 206%;
	top: 64%;
}

.b-190 {
	left: 207%;
	top: 64%;
}

.b-191 {
	left: 208%;
	top: 64%;
}

.b-192 {
	left: 209%;
	top: 64%;
}

.b-193 {
	left: 210%;
	top: 64%;
}

.b-194 {
	left: 211%;
	top: 64%;
}

.b-195 {
	left: 212%;
	top: 64%;
}

.b-196 {
	left: 213%;
	top: 64%;
}

.b-197 {
	left: 214%;
	top: 64%;
}

.b-198 {
	left: 215%;
	top: 64%;
}

.b-199 {
	left: 216%;
	top: 64%;
}

.b-200 {
	left: 217%;
	top: 64%;
}
